/* Nav Bar CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --primary-blue: #4f7ecf;
  --light-blue: rgb(108, 154, 194);
  --bg-light: rgb(244, 244, 244);
  --border-light: rgb(200, 200, 200);
  --success-green: #7dd36f;
}

#mainContainer {
  display: flex;
  gap: 24px;
  padding: 24px;
  align-items: flex-start;
}

#navbar{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(102, 183, 255);
    color: white;
    width: 100%;
}
#nameContainer{
    width: 60%;
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}
#linksContainer{
    width: 40%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}
#linksContainer a{
    text-decoration: none;
    color: white;
}

/* Headings */
#subHeading{
    padding-top:10px;
    text-align: center;
    margin: 20px 0;
    height: 100px;
    background-color:rgb(244, 244, 244);
}
.lineOne {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(108, 154, 194);
}
.secondLine {
    font-size: 17px;
    color: rgb(108, 154, 194);
}

/* Main Container */
/* #mainContainer{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
} */
#inputSection {
  width: 35vw;
  background-color: var(--bg-light);
  border-radius: 12px;
  padding: 24px;
}

#inputFields {
  display: flex;
  flex-direction: column;
}

#inputSection p {
  margin-bottom: 6px;
  font-weight: 600;
  color: var(--light-blue);
}

#inputSection input,
#inputSection select,
#inputSection textarea {
  height: 38px;
  margin-bottom: 16px;
  border: 1px solid var(--border-light);
  border-radius: 6px;
  padding: 0 10px;
  font-size: 14px;
}

#inputSection textarea {
  height: 70px;
  resize: none;
}


/* Amount Showing */
#amountShowing {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#monthlySpending,
#budget {
  width: 100%;
  background-color: var(--primary-blue);
  color: white;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}


.title {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.amount {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 18px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 70%;
  background-color: var(--success-green);
  border-radius: 20px;
  transition: width 0.4s ease;
}
