/* Nav Bar CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainContainer{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
#navbar{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(102, 183, 255);
    color: white;
    width: 100%;
}
#nameContainer{
    width: 60%;
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}
#linksContainer{
    width: 40%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}
#linksContainer a{
    text-decoration: none;
    color: white;
}

/* Headings */
#subHeading{
    padding-top:10px;
    text-align: center;
    margin: 20px 0;
    height: 100px;
    background-color:rgb(244, 244, 244);
}
.lineOne {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(108, 154, 194);
}
.secondLine {
    font-size: 17px;
    color: rgb(108, 154, 194);
}

/* Main Container */
/* #mainContainer{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
} */
 #inputSection{
    height: 350px;
    width: 35vw;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 20px;
 }
 #inputFields{
    height: 300px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
 }
 #inputSection span p {
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(108, 154, 194);
 }
#inputSection input, #inputSection select, #inputSection textarea {
    height: 35px;
    margin-bottom: 15px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding-left: 10px;
}

/* Amount Showing */
#amountShowing{
    height: 350px;
    width: 30%;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#monthlySpending, #budget{
    background-color: rgb(108, 154, 194);
    height: 50%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}